body {
    width: 75%;
    margin: auto;
}

.nav {
    border-radius: 25px;
    background-color: #d0d0d0;
    padding: 5%;
}

.hello {
    border-radius: 25px;
    background-color: #d0d0d0;
    padding: 5%;   
}

.footer {
    border-radius: 20px;
    background-color: #d0dfb0;
    padding: 2%;
}